.warning_msg,
.error_msg {
  margin: 10px 0;
  width: 50%;
  padding: 13px 20px;
  border-radius: 7px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .warning_msg,
  .error_msg {
    width: 85%;
  }
}

.warning_msg {
  color: #ff9a00;
  background-color: #feefb3;
}
.error_msg {
  color: #d8000c;
  background-color: #ffbaba;
}
