.form_wrapper {
  position: relative;
  max-width: 480px;
  width: 100%;
  padding: 15px 20px;
  padding-top: 0px;
}
.input_box {
  position: relative;
  height: 55px;
  margin: 25px 0;
}
.input_box input,
.input_box button {
  position: relative;
  height: 100%;
  width: 100%;
  outline: none;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  border: 2px solid lightgrey;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input_box input:focus,
.input_box input:valid {
  border-color: var(--primary);
}
.input_box span,
.input_box label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #a6a6a6;
  transition: all 0.3s ease;
}
.input_box label.right {
  right: 15px;
  font-size: 18px;
  font-weight: 400;
  background: #fff;
  padding: 0 6px;
  pointer-events: none;
}

.input_box label.left {
  left: 15px;
  font-size: 18px;
  font-weight: 400;
  background: #fff;
  padding: 0 6px;
  pointer-events: none;
}
.input_box input:focus ~ label,
.input_box input:valid ~ label {
  top: 0;
  font-size: 14px;
  color: var(--primary);
}

.input_box.button button {
  border: none;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  background: var(--primary);
  margin-top: 0px;
  padding: 0px;
}

.input_box span {
  right: 15px;
  cursor: pointer;
  padding: 8px;
}
.alert_message {
  display: flex;
  align-items: center;
  margin-top: -13px;
  color: #ff9a00;
  height: 15px;
  font-size: 18px;
  font-weight: 700;
}
.error_message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d93025;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}
